html{
    background-color: black;
    color: white;
    font-family: Orbitron;
}

h1{text-align: center;
    background-color: #022001;
    border: 1px solid #068003;
    border-radius: 0;
}

.t2{
    text-align: center;
    background-color: #034002;
    border: 1px solid #068003;
    border-radius: 0;
    margin: 10px;
}

.t3{
    text-align: center;
    background-color: #034002;
    border: 1px solid #068003;
    border-radius: 0;
    margin: 10px;
}

p{
    border-radius: 0;
    border: 1px solid #068003;
    background-color: #034002;
    padding: 5px;
    margin: 15px;
}

.botão{
    color: white;
    border-radius: 0;
    border: 1px solid #068003;
    background-color: #034002;
    margin: 10px;
    font-family: Orbitron;
}

#bait{
    background-color: red;
    color: white;
}

.poster{
    background-color: #022001;
    border: 1px solid #068003;
    height: 100%;
    margin: 30px;
}


.posterfull{
    background-color: #022001;
    border: 1px solid #068003;
    height: 100%;
    width: 100%;
    margin: 0;
}

#sp{
    height: 250px;
    padding: 0;
    margin: 10px;
    width: 50%;
    margin-left: 25%;
    border: 1px solid #068003;
}

#bikedorenato{
    width: 50%;
    margin-left: 25%;
    border: 2px solid #068003;
}