html{
    background-color: black;
    color: white;
    font-family: Orbitron;
}

body{
    margin-left: 25%;
    margin-right: 25%;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{ /* adiciona animação quando mouse passa em cima */
    text-decoration: underline;
    color: rgb(132, 212, 132);
    transition: all 0.3s ease;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #022001;
    border: 1px solid #068003;
    margin: 30px 0px;
    padding: 0px 20px;
}

#logo{
    font-size: 10px;
    transition: all 0.3s ease;
}
#logo:hover{
    color: rgb(132, 212, 132);
}

nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.painel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #022001;
    border: 1px solid #068003;
    padding: 18px;
}

.content > h2 {
    margin: 0;
}
.content > p {
    font-size: 20px;
    line-height: 1.2;
}

img{
    background-color: #034002;
    border: 1px solid #068003;
    margin-left: 10px;
    border-radius: 10px;
}