p{
     text-align: justify;
}
#bikedorenato{
    border-radius: 7px;
    width: 300px;
    grid-area: 1 / 1 / 3 / 2;
}
#descrição{
    margin-left: 10px;
}
#perseguidor{
    height: 200px;
    width: 200px;
    margin-left: 20%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
}
.flex-image{
    align-content: flex-start;
}
.centro{
    text-align: center;
    margin: 10px 0 10px 0;
}

