html{
    background-color: black;
    color: white;
    font-family: Orbitron;
}

h1{
    text-align: center;
    background-color: #022001;
    border: 1px solid #068003;
    border-radius: 0;
}

.t2{
    text-align: center;
    background-color: #034002;
    border: 1px solid #068003;
    border-radius: 0;
    margin: 10px;
}

.t3{
    text-align: center;
    background-color: #034002;
    border: 1px solid #068003;
    border-radius: 0;
    margin: 10px;
}

p{
    border-radius: 0;
    border: 1px solid #068003;
    background-color: #034002;
    padding: 5px;
    margin: 15px;
}

.botão{
    color: white;
    border-radius: 0;
    border: 1px solid #068003;
    background-color: #034002;
    margin: 10px;
    font-family: Orbitron;
}

#bait{
    background-color: red;
    color: white;
}

.poster{
    background-color: #022001;
    border: 1px solid #068003;
    height: 100%;
    margin: 30px;
}

.posterfull{
    background-color: #022001;
    border: 1px solid #068003;
    height: 100%;
    width: 100%;
    margin: 0;
}

.posterfull p{
    text-align: center;
}



#bikedorenato{
    width: 50%;
    margin-left: 25%;
    border: 2px solid #068003;
}

#carreto{
    width: 50%;
    margin: 5px;
    margin-left: 25%;
    border: 2px solid #068003;
    
}

#sapo{
    height: 10%;
    padding: 0;
    margin: 10px;
    width: 50%;
    margin-left: 25%;
    border: 1px solid #068003;
}

.gif{
    margin: 10px;
    width: 50%;
    margin-left: 25%;
    border: 2px solid #068003; 
}

.badnews{
    background-color: #900000;
    border: 1px solid #fd0d03;
    border-radius: 0;
    margin: 10px;
    text-align: center;
}

.caralho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabível{
    width: 96%;
}